<li>
    <div class="estoria">
        <h2>{{estoria.titulo}}</h2>
        <p>{{estoria.descricao}}</p>
        <a href="#" class="btn btn-tarefa" (click)="toggleTarefas($event)">Tarefas</a>

        <a href="#" class="btn btn-finalizar" (click)="remove($event, estoria)">Finalizar</a>
        
        <span *ngIf="estoria.pontos > 1" class="pontuacao">{{estoria.pontos}} pontos</span>
        <span *ngIf="estoria.pontos <= 1" class="pontuacao">{{estoria.pontos}} ponto</span>

        <div *ngIf="showHideTarefas" class="container-tarefas">
            <h3>Tarefas</h3>
            <ul class="tarefas">
                <tarefa *ngFor="let tarefa of estoria.tarefas" [tarefa]="tarefa" (tarefaRemoved)="removerTarefa($event)"></tarefa>
            </ul>

            <h4>Nova tarefa</h4>
            <form [formGroup]="tarefaForm" (ngSubmit)="salvarTarefa($event)">
                <input type="hidden" formControlName="id">
                <input type="text" formControlName="titulo" placeholder="Títula da tarefa" required>
                <input type="text" formControlName="descricao" placeholder="Descrição" required>
                <input type="submit" name="btnSalvar" class="btn btn-default"  value="Adicionar Tarefa">
            </form>

        </div>

    </div>
</li>