<section class="container-estorias">
    <div class="row">
        <div class="col-mb-1">
            <h1>Estórias de Usuários</h1>

            <!--Listagem de todas as estórias-->
            <ul class="estorias">
                <li>
                    <div class="estoria">
                        <h2>Título</h2>
                        <p>Descrição da estória.</p>
                        <a href="#" class="btn btn-tarefa">Tarefas</a>

                        <a href="#" class="btn btn-finalizar">Finalizar</a>
                        <span class="pontuacao">10 pontos</span>


                        <div class="container-tarefas hide">
                            <h3>Tarefas</h3>
                            <ul class="tarefas">
                                <li>
                                    <div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        Tarefa 0 1
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        Tarefa 0 1
                                    </div>
                                </li>
                            </ul>

                            <h4>Nova tarefa</h4>
                            <form action="">
                                <input type="text" name="txtNome" placeholder="Nova tarefa" required>
                                <input type="text" name="txtDescricao" placeholder="Descrição" required>
                                <input type="button" name="btnSalvar" class="btn btn-default"  value="Adicionar Tarefa">
                            </form>

                        </div>

                    </div>
                </li>

                <li>
                    <div class="estoria">
                        <h2>Título</h2>
                        <p>Descrição da estória.</p>
                        <a href="#" class="btn btn-tarefa">Tarefas</a>

                        <a href="#" class="btn btn-finalizar">Finalizar</a>
                        <span class="pontuacao">10 pontos</span>


                        <div class="container-tarefas hide">
                            <h3>Tarefas</h3>
                            <ul class="tarefas">
                                <li>
                                    <div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        Tarefa 0 1
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        Tarefa 0 1
                                    </div>
                                </li>
                            </ul>

                            <h4>Nova tarefa</h4>
                            <form action="">
                                <input type="text" name="txtNome" placeholder="Nova tarefa" required>
                                <input type="text" name="txtDescricao" placeholder="Descrição" required>
                                <input type="button" name="btnSalvar" class="btn btn-default"  value="Adicionar Tarefa">
                            </form>

                        </div>

                    </div>
                    
                </li>

                <li>
                    <div class="estoria">
                        <h2>Título</h2>
                        <p>Descrição da estória.</p>
                        <a href="#" class="btn btn-tarefa">Tarefas</a>

                        <a href="#" class="btn btn-finalizar">Finalizar</a>
                        <span class="pontuacao">10 pontos</span>


                        <div class="container-tarefas hide">
                            <h3>Tarefas</h3>
                            <ul class="tarefas">
                                <li>
                                    <div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        Tarefa 0 1
                                    </div>
                                </li>
                                <li>
                                    <div>
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        Tarefa 0 1
                                    </div>
                                </li>
                            </ul>

                            <h4>Nova tarefa</h4>
                            <form action="">
                                <input type="text" name="txtNome" placeholder="Nova tarefa" required>
                                <input type="text" name="txtDescricao" placeholder="Descrição" required>
                                <input type="button" name="btnSalvar" class="btn btn-default"  value="Adicionar Tarefa">
                            </form>

                        </div>

                    </div>

                </li>

            </ul>

        </div>                    
    </div>
</section>